version: '3.1'
services:
    postgres:
        environment:
            - POSTGRES_USER=root
            - POSTGRES_PASSWORD=root
            - POSTGRES_DB=app
        ports:
            - '38004:5432'

    webserver:
        ports:
            - '38000:80'
